.toc {
    list-style: none;
    color: #a3a1a1;
}

.toc_li{

}

.toc__a {
    text-decoration: none;

}

.toc__a:focus{
    color: black;
}

.toc__a:link, .toc__a:visited{
    color: #a3a1a1;
}
.toc__a:hover{
    color: black;
}
.toc__a:active{
    color: black;
}

.toc__a--active{
    color: black !important;
}