body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Abel', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.dl-btn {
  padding: 0.5em 1em;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: medium; }
  .dl-btn__dark {
    color: white;
    background: #343a40; }
  .dl-btn__secondary {
    background: transparent; }
  .dl-btn__round {
    display: flex;
    position: absolute;
    bottom: 5em;
    right: 5em;
    border-radius: 50%;
    padding: 1em; }

.dl-btn:focus {
  outline: none; }

/**flex Container*/
.flex {
  display: flex; }
  .flex__justify-end {
    justify-content: flex-end; }

/**grid Container*/
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr [col-start]);
  grid-auto-rows: auto;
  /**
        __col-start, col-end, row-end, row-start can be attached to item element
    */
  /** where column should end*/
  /** where column should start*/ }
  .grid__gap {
    grid-gap: 1em; }
  .grid__box {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-template-columns: repeat(12, 1fr); }
  .grid__box--uniform {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-column-start: 1;
    grid-column-end: 13; }
  .grid__col-start-1 {
    grid-column-start: 1; }
  .grid__col-start-2 {
    grid-column-start: 2; }
  .grid__col-start-3 {
    grid-column-start: 3; }
  .grid__col-start-4 {
    grid-column-start: 4; }
  .grid__col-start-5 {
    grid-column-start: 5; }
  .grid__col-start-6 {
    grid-column-start: 6; }
  .grid__col-start-7 {
    grid-column-start: 7; }
  .grid__col-start-8 {
    grid-column-start: 8; }
  .grid__col-start-9 {
    grid-column-start: 9; }
  .grid__col-start-10 {
    grid-column-start: 10; }
  .grid__col-start-11 {
    grid-column-start: 11; }
  .grid__col-start-12 {
    grid-column-start: 12; }
  .grid__col-end-1 {
    grid-column-end: 1; }
  .grid__col-end-2 {
    grid-column-end: 2; }
  .grid__col-end-3 {
    grid-column-end: 3; }
  .grid__col-end-4 {
    grid-column-end: 4; }
  .grid__col-end-5 {
    grid-column-end: 5; }
  .grid__col-end-6 {
    grid-column-end: 6; }
  .grid__col-end-7 {
    grid-column-end: 7; }
  .grid__col-end-8 {
    grid-column-end: 8; }
  .grid__col-end-9 {
    grid-column-end: 9; }
  .grid__col-end-10 {
    grid-column-end: 10; }
  .grid__col-end-11 {
    grid-column-end: 11; }
  .grid__col-end-12 {
    grid-column-end: 12; }
  .grid__col-end-13 {
    grid-column-end: 13; }
  .grid__row-start-1 {
    grid-row-start: 1; }
  .grid__row-start-2 {
    grid-row-start: 2; }
  .grid__row-end-2 {
    grid-row-end: 2; }
  .grid__row-end-3 {
    grid-row-end: 3; }
  .grid__col-1 {
    grid-column-end: span 1; }
  .grid__col-2 {
    grid-column-end: span 2; }
  .grid__col-3 {
    grid-column-end: span 3; }
  .grid__col-4 {
    grid-column-end: span 4; }
  .grid__col-5 {
    grid-column-end: span 5; }
  .grid__col-6 {
    grid-column-end: span 6; }
  .grid__col-7 {
    grid-column-end: span 7; }
  .grid__col-8 {
    grid-column-end: span 8; }
  .grid__col-9 {
    grid-column-end: span 9; }
  .grid__col-10 {
    grid-column-end: span 10; }
  .grid__col-11 {
    grid-column-end: span 11; }
  .grid__col-12 {
    grid-column-end: span 12; }
  .grid__col {
    grid-column: span auto; }

.card {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 3px 0px rgba(0, 0, 0, 0.22);
  padding: 2rem; }
  .card__image {
    width: 100%;
    margin-bottom: 2rem; }
  .card__header {
    font-weight: 300; }
  .card__header-bar-title {
    display: inline-flex; }
  .card__header-bar-text {
    padding: .125em 0; }
  .card__header-bar-list-item-text {
    padding: .125em 0; }
  .card__header-bar-list-item {
    padding: 0em 0.25em;
    display: inline-flex;
    margin: 0 .25em;
    color: #9e9e9e;
    cursor: pointer; }
  .card__header-bar-list-item:hover {
    color: #212121; }
  .card__header-bar-list-item--active {
    color: #212121; }
  .card__header-text {
    border-bottom: solid thin;
    padding: 0.25em 0; }
  .card__title {
    margin: 1.5rem 0;
    font-size: 2em;
    line-height: 2.5rem; }
  .card__text {
    margin-bottom: 1.5rem;
    font-size: 1em;
    line-height: 2rem; }
  .card__footer {
    font-weight: 300; }
  .card__body--grid {
    max-height: 11em;
    min-height: 11em;
    overflow: hidden; }
  .card__list .card__header {
    font-weight: 300 !important; }
  .card__list .card__title {
    line-height: 1.75rem;
    font-weight: 400;
    margin: 1.25rem 0;
    font-size: 1.75em; }
  .card__list .card__text {
    line-height: 1.25rem;
    font-weight: 300; }
  .card__grid .card__header {
    font-weight: 300 !important; }
  .card__grid .card__title {
    line-height: 1.75rem;
    font-weight: 400;
    margin: 1.25rem 0;
    font-size: 1.75em; }
  .card__grid .card__text {
    line-height: 1.25rem;
    font-weight: 300; }

.card:hover {
  box-shadow: 0 0 19px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer; }

.header {
  padding: .5rem 1rem; }
  .header__nav-item {
    padding: 1em 0.5em;
    text-align: center; }

.link {
  text-decoration: none;
  border-bottom: solid #2e68d4;
  color: #2e68d4; }

.link:hover {
  background: #2e68d4;
  color: #fafafa; }

.toc {
  list-style: none;
  color: #a3a1a1;
  padding: 0.25em 1em; }
  .toc__item {
    padding: 0.25em 1em; }
  .toc__item:active, .toc__item:hover {
    border-left: solid black; }
  .toc__item--active {
    border-left: solid black; }
  .toc__a {
    text-decoration: none; }
  .toc__sub-toc {
    list-style: none;
    color: #a3a1a1; }
  .toc__a:focus {
    color: black; }
  .toc__a:link, .toc__a:visited {
    color: #a3a1a1; }
  .toc__a:hover {
    color: black; }
  .toc__a:active {
    color: black; }
  .toc__a--active {
    color: black !important; }

.toolbar {
  border-bottom: solid thin;
  margin-bottom: 1em;
  padding: 0.5em 0; }
  .toolbar__box-shadow {
    box-shadow: 0px 0px 2px 1px #dbdbdb;
    border-bottom: unset; }
  .toolbar__title {
    display: inline-flex;
    padding: .5em 1em; }
  .toolbar__list {
    overflow-x: auto; }
  .toolbar__list-item {
    padding: 0.5em 1em;
    display: inline-flex;
    margin: 0 0.25em;
    color: #9E9E9E;
    cursor: pointer; }
  .toolbar__list-item-text {
    padding: 0.125em 0; }
  .toolbar__list-item--active {
    color: #212121; }
  .toolbar__list-item:hover {
    color: #212121; }

.typography__heading-one {
  margin-bottom: 1.5rem;
  font-size: 4.5em;
  line-height: 5rem; }

.typography__heading-two {
  margin-bottom: 1.5rem;
  font-size: 4em;
  line-height: 4.5rem; }

.typography__heading-three {
  margin-bottom: 1.5rem;
  font-size: 3.5em;
  line-height: 4rem; }

.typography__heading-four {
  margin-bottom: 1.5rem;
  font-size: 3em;
  line-height: 3.5rem; }

.typography__heading-five {
  margin-bottom: 1.5rem;
  font-size: 2.5em;
  line-height: 3rem; }

.typography__heading-six {
  margin-bottom: 1.5rem;
  font-size: 2em;
  line-height: 2.5rem; }

.typography__paragraph {
  margin-bottom: 1.5rem;
  font-size: 1em;
  line-height: 2rem; }

.typography__list {
  font-size: 1em;
  line-height: 2rem;
  margin-bottom: 1.5rem; }
